:root {
    --bg: #000000;
    --color: #2b2424;
    --second-color: #000;

    --ciber-color: #eeff07;
    --classic-color: #f5cfad;

    --ciber-second-color: #dd00f1;
    --classic-second-color: #683200;
}